<!-- Google Authorship and Publisher Markup -->
<link rel="author" href="https://plus.google.com/u/0/+%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9%D0%A3%D0%B4%D0%B0%D0%BB%D0%BE%D0%B2/posts"/>
<link rel="publisher" href=”https://plus.google.com/u/0/+%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9%D0%A3%D0%B4%D0%B0%D0%BB%D0%BE%D0%B2"/>

<div itemprop="author" itemscope itemtype="http://schema.org/Person" style="display:none">
  <meta itemprop="name" content="Сергей Удалов" />
  <meta itemprop="url" content="{{ '/about/' | prepend: site.url }}" />
  <meta content="{{ '/images/avatar_lg.jpeg' | prepend: site.url }}" itemprop="image" />
  <meta itemprop="jobTitle" content="Программист" />

  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="addressLocality">Электроугли</span>,
    <span itemprop="addressRegion">Россия, МО</span>
  </div>

  <meta itemprop="telephone" content="+7 (916) 6272658" />
  <meta content="sergei.udalov@gmail.com" itemprop="email" />

  <meta itemprop="birthDate" content="1985-05-05" />
  <meta itemprop="gender" content="male" />
  <meta itemprop="description" content="Родился в 1985 году,  в городе Пушкино (МО). Окончил факультет "прикладной математики и физики" Московского Авиационного Института в 2008 году по специальности 'программирование'. Я люблю футбол и играю в районном чемпионате. На жизнь зарабатываю программированием. Интересуюсь физикой, историей, музыкой и политикой." />
</div>

