<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li><a href="/">{{ site.title }}</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="http://feeds.feedburner.com/sergei-udalov">
            <i class="fa fa-rss-square"></i>
            <span class="username">подписаться на RSS</span>
          </a>
        </li>
      </ul>

      {% include social_links.html %}
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
