<header class="site-header">

  <div class="wrap">
    <center>
      <div class="logo-image"></div>
    

      <p>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </p>

      <div class="social_links"  style="">
        <span><a href="mailto:sergei.udalov@gmail.com"><i class="fa fa-envelope-o"></i></a></span>
        <span><a href="https://vk.com/r_wilco"><i class="fa fa-vk"></i></a></span>
        <span><a href="https://twitter.com/SergeiUdalov"><i class="fa fa-twitter"></i></a></span>
        <span><a href="https://www.facebook.com/sergei.udalov"><i class="fa fa-facebook-square"></i></a></span>
        <span><a href="http://www.youtube.com/user/neoguy1"><i class="fa fa-youtube-play"></i></a></span>
        <br />
        <span><i class="fa fa-skype"></i> mac_jimbo</span>
        <span><i class="fa fa-mobile"></i> +79166272658</span>
      </div>


      <nav class="site-nav">
        <div class="pages">
          {% for page in site.pages %}
            {% if page.title != null %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>

    </center>
  </div>

</header>
