<header class="site-header site-header-compact">

  <div class="wrap">
    <div class="logo-image"></div>

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <nav class="site-nav">
        <div class="pages">
          {% for page in site.pages %}
            {% if page.title != null %}
              <a class="page-link capitalize" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>

            {% endif %}
          {% endfor %}
        </div>
      </nav>
  </div>

</header>
