<header class="site-header">

  <div class="wrap">
    <center>
      <div class="logo-image"></div>
    

      <p>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </p>


      {% include social_links.html %}
      <br />
      <span><i class="fa fa-skype"></i> mac_jimbo</span>
      <span><i class="fa fa-mobile"></i> +79166272658</span>

      <nav class="site-nav">
        <div class="pages">
          {% for page in site.pages %}
            {% if page.title != null %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>

    </center>
  </div>

</header>
