<div class="social_links"  style="">
  <span><a href="mailto:sergei.udalov@gmail.com"><i class="fa fa-envelope-o"></i></a></span>
  <span><a href="https://vk.com/r_wilco"><i class="fa fa-vk"></i></a></span>
  <span><a href="https://twitter.com/SergeiUdalov"><i class="fa fa-twitter"></i></a></span>
  <span><a href="https://www.facebook.com/sergei.udalov"><i class="fa fa-facebook-square"></i></a></span>
  <span><a href="http://www.youtube.com/user/neoguy1"><i class="fa fa-youtube-play"></i></a></span>
  <span><a href="https://github.com/sergio-fry"><i class="fa fa-github"></i></a></span>
</div>

