<div style="text-align: center; padding: 50px 0px 50px 0px; border: dotted 1px #888 ">
  <center>
    <table class="no-border">
      <tr>
        <td>
          <span style="font-size: 55px"><i class="fa fa-envelope-o"></i></span>
        </td>
        <td>

          <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=sergei-udalov', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Уведомить о новой статье по email:<br /> <input type="text" placeholder="Ваш email" style="width:140px" name="email"/><input type="hidden" value="sergei-udalov" name="uri"/> <input type="hidden" name="loc" value="ru_RU"/> <input type="submit" value="Подписаться" /></form>
        </td>
      </tr>
    </table>
  </center>

</div>
