---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% include author.html %}

  <meta itemprop="dateCreated" content="{{ page.date | date: "%Y-%m-%d" }}" />
  <meta itemprop="dateModified" content="{{ page.dateUpdated | date: "%Y-%m-%d" }}" />
  <meta itemprop="image" content="{% if page.imageUrl %}{{ page.imageUrl | prepend: site.url }}{% else %}{{ '/images/avatar_md.jpeg' | prepend: site.url }}{% endif %}" />
  <meta itemprop="description" content="{{ page.description }}" />

  <meta itemprop="image" content="{% if page.imageUrl %}{{ page.imageUrl | prepend: site.url }}{% else %}{{ '/images/avatar_md.jpeg' | prepend: site.url }}{% endif %}" />

  <header class="post-header">
    <h1 itemprop="name">{{ page.title }}</h1>
  </header>

  <article class="post-content" itemprop="articleBody">
  {{ content }}
  </article>

</div>
