---
layout: compact
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% include author.html %}

  <meta itemprop="dateCreated" content="{{ page.date | date: "%Y-%m-%d" }}" />
  <meta itemprop="dateModified" content="{{ page.dateUpdated | date: "%Y-%m-%d" }}" />
  <meta itemprop="image" content="{% if page.imageUrl %}{{ page.imageUrl | prepend: site.url }}{% else %}{{ '/images/avatar_md.jpeg' | prepend: site.url }}{% endif %}" />
  <meta itemprop="description" content="{{ page.description }}" />

  <meta itemprop="image" content="{% if page.imageUrl %}{{ page.imageUrl | prepend: site.url }}{% else %}{{ '/images/avatar_md.jpeg' | prepend: site.url }}{% endif %}" />

  <header class="post-header">
    <h1 itemprop="name">{{ page.title }}</h1>

    <span class="meta">{{ page.date | date: "%-d.%m.%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }} {% endif %}</span>

    {% if page.tags.size > 0 %}
    <br />
    <p class="tags"><span class="name">Ключевые слова:</span> <span class="tags" itemprop="keywords">{{ page.tags | join " " }}</span></p>
    {% endif %}


  </header>

  <link href="/css/toc.css" media="all" rel="stylesheet" />

  <div id="toc-container" style="display: none">
    <div id="toc"></div>
  </div>


  <article class="post-content" itemprop="articleBody">
  {{ content }}
  </article>

  <br />
  <script type="text/javascript" src="/js/orphus.js"></script>
  <a href="http://www.orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="/images/orphus.gif" border="0" width="257" height="48" /></a>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/toc.min.js"></script>


  <script type="text/javascript">
    var article_length = $(".post-content").text().length;

    if(article_length > 2200) {
      $("#toc-container").show();
      $("#toc").toc({
        'selectors': 'h2,h3',
        'container': '.post-content'
      });
    }
  </script>


  {% include hypercomments.html href=page.hypercommentsHref %}
</div>

{% include subscribe.html %}
